<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AreSoftware", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Nosotros", "About", "Home")</li>
                    <li>@Html.ActionLink("Portafolio", "Products", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>                    
                </ul>
                <ul class="nav navbar-right">
                    <li>
                      <a id="divSocialFacebook" href="http://www.facebook.com/sharer.php?u=@Url.Encode(@Request.Url.AbsoluteUri)/&t=AreSoftware" target="_blank"></a>
                      <a id="divSocialTwitter" href="https://x.com/intent/tweet?text=AreSoftware&url=@Url.Encode(@Request.Url.AbsoluteUri)" target="_blank"></a>
                      <a id="divSocialWhatsApp" href="https://wa.me/?text=AreSoftware+@Url.Encode(@Request.Url.AbsoluteUri)" target="_blank"></a>  
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="text-align:center;">
            <p>&copy; @DateTime.Now.Year - AreSoftware - Bogotá, Colombia</p>
        </footer>
    </div>
    <div id="dialog-message" title="Información"></div>
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
